[project]
name = "nlp"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "datasets>=4.4.1",
    "scikit-learn>=1.7.2",
    "spacy>=3.8.11",
    "torch>=2.9.1",
    "transformers>=4.57.3",
]
